extends layout

block content
  h1= title
  p Welcome to One Web Checkout BackEnd Tester

  // Wrapper
  #wrapper

    // Checkout INFO
    #checkoutInfo
      h2 Checkout Info
      p
        strong ID:
        |  <span id='checkoutID'></span>
        br
        strong State:
        |  <span id='CheckoutState'></span>
    // /Checkout INFO

    // USER LIST
    h2 User List
    #userList
      table
        thead
          th UserName
          th Email
          th Select?
        tbody
    // /USER LIST

    // Create Checkout
    h2 Create Checkout
    #createCheckout
      fieldset
        input#inputUserName(type='text', placeholder='Username')
        input#inputUserPassword(type='password', placeholder='UserPassword')
        br
        input#inputshoppingType(type='text', placeholder='shoppingType')
        input#inputchannel(type='text', placeholder='channel')
        input#inputcheckoutType(type='text', placeholder='checkoutType')
        br
        input#inputcartId(type='text', placeholder='cartId')
        br
        input#inputzipCode(type='text', placeholder='zipCode(optional)')
        input#inputfamilyCard(type='text', placeholder='familyCard(optional)')
        br
        button#btncreateCheckout Create Checkout
    // /Create Checkout

  // /WRAPPER